@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
--fz-primary : 0.813rem;
//font weights
--fw-primary :500;
--fw-secondary :600;
//colors
--clr-moderate-violet: hsl(263, 55%, 52%);
--clr-dark-grayish-blue:hsl(217, 19%, 35%);
--clr-moderate-gray:hsl(206, 4%, 67%);
--clr-dark-blackish-blue:hsl(219, 29%, 14%);
--clr-light-grey: hsl(0, 0%, 81%);
--clr-light-grayish-blue: hsl(210, 46%, 95%);
--clr-white: hsl(0, 0%, 100%);
--clr-black: hsl(0, 0%, 0%);
//fonts
--ff-primary :"Barlow Semi Condensed", sans-serif;
}