@use 'root';
@use 'reset';
@use 'base';
@use 'utility';


.card{
    padding:1.563rem 1.875rem;
    border-radius: 0.625rem;
    &-testamony{
        margin-top: 1.2rem;
        margin-bottom: 0.5rem;
        font-size: 1.3rem ;
        line-height: 1.2;
        color: var(--clr--white);
        font-weight: var(--fw-secondary);
    }
    &-details{
        font-size: 0.813rem;
        color: var(--clr-moderate-gray);
        line-height: 1.5;
    }
    &-user{
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1.25rem;
        & img{
            max-width: 1.875rem;
            height: auto;
            border-radius: 100%;
            display: block;
        }
        &-data{
            margin: 0;
            font-size: 0.813rem;
            padding: 0.125;
            letter-spacing: 0.031rem;
            &-name{
                font-weight: var(--fw-secondary);
            }
            &-description{
                color: var(--clr-moderate-gray);
                font-size: 0.75rem;
            }
        }
    }
}

@media (min-width:1100px) {
    main{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .card{
        min-height: 300px;
    }
    .daniel{
        order: 1;
        grid-column: span 2;
    }
    .jona{
        order: 2;
    }
    .kira{
        order: 3;
        grid-row: span 2;
    }
    .jean{
        order: 4;
    }
    .pat{
        order: 5;
        grid-column: span 2;
    }
}

